<%- include('../partials/header') %>

<ul>
    <% skills.forEach((s, idx) => { %>


    <li>
        <a href="/skills/<%= idx %>">
            <%= s.student %>
        </a>
    </li>

    <% }) %>
</ul>
<%- include('../partials/footer') %>